In [23]:
import pandas
df=pandas.read_csv('emp.csv',index_col='eno')
print(df)

              ename            desig   salary
eno
101     Manas Ohara   Data Scientist    60000
102   Kashmira Shah        Developer    90000
103     Lana Rhodes            Model   100000
104     lana rhodes              NaN   100000

## Duplication in csv

In [24]:
import pandas as pd
df=pd.read_csv('emp.csv')
print(df.duplicated())

0    False
1    False
2    False
3    False
dtype: bool

## Reading csv file with csv module

In [12]:
import csv
with open('emp.csv','r') as file:
    reader=csv.reader(file)
    for row in reader:
        print(row)

['eno', ' ename', ' desig', ' salary']
['101', ' Manas Ohara', ' Data Scientist', ' 60000']
['102', ' Kashmira Shah', ' Developer', ' 90000']
['103', ' Lana Rhodes', ' Model', ' 100000']
['104', ' lana rhodes', '', '100000']

## in pandas the null desig will show Nan

In [14]:
import pandas
df=pandas.read_csv('emp.csv',index_col='eno')
print(df)

              ename            desig   salary
eno
101     Manas Ohara   Data Scientist    60000
102   Kashmira Shah        Developer    90000
103     Lana Rhodes            Model   100000
104     lana rhodes              NaN   100000

## with csv it will show ' '

In [15]:
import csv
with open('emp.csv','r') as file:
    reader=csv.reader(file)
    for row in reader:
        print(row)

['eno', ' ename', ' desig', ' salary']
['101', ' Manas Ohara', ' Data Scientist', ' 60000']
['102', ' Kashmira Shah', ' Developer', ' 90000']
['103', ' Lana Rhodes', ' Model', ' 100000']
['104', ' lana rhodes', '', '100000']

In [45]:
import pandas as pd
df=pd.read_csv('emp.csv')
new_df=df.dropna()
print(new_df.to_string())

   eno           ename            desig   salary
0  101     Manas Ohara   Data Scientist    60000
1  102   Kashmira Shah        Developer    90000
2  103     Lana Rhodes            Model   100000

In [46]:
import pandas as pd
stud ={
    "Name":["Manas","Kashmira","Chetan"],
    "Class":["TY","FY","SY"]
}
r=pd.DataFrame(stud,index=["BSC","BCA","BDA"])
print(r)

         Name Class
BSC     Manas    TY
BCA  Kashmira    FY
BDA    Chetan    SY

## loc

In [20]:
import pandas as pd
stud ={
    "Name":["Manas","Kashmira","Chetan"],
    "Class":["TY","FY","SY"]
}
r=pd.DataFrame(stud)
print(r.loc[0])

Name     Manas
Class       TY
Name: 0, dtype: object

In [39]:
import pandas as pd
stud ={
    "Name":["Manas","Kashmira","Chetan"],
    "Class":["TY","FY","SY"]
}
r=pd.DataFrame(stud)
print(r.loc[[0,1,2]])

       Name Class
0     Manas    TY
1  Kashmira    FY
2    Chetan    SY

## Assignment
### 1. Create mobproduct.csv file with pno, pname, brand, price. 
### a) display all the records
### b) display only those records which have complete data
### c) display status as false for duplicate record and true for other records.
### d) display data with index as pno

In [40]:
import pandas
df=pandas.read_csv('bikes.csv',index_col='pno')
print(df)

        pname      brand    price
pno
101       R15     Yamaha   150000
102     RE350         RE   200000
103   Daytona    Triumph  1000000
104      z900   Kawasaki   150000

In [43]:
import pandas as pd
df=pd.read_csv('bikes.csv')
new_df=df.dropna()
print(new_df.to_string())

   pno     pname      brand    price
0  101       R15     Yamaha   150000
1  102     RE350         RE   200000
2  103   Daytona    Triumph  1000000
3  104      z900   Kawasaki   150000

In [44]:
import pandas as pd
df=pd.read_csv('bikes.csv')
print(df.duplicated())

0    False
1    False
2    False
3    False
dtype: bool