## Json Handling- 
### Javascript Object Notation

## priting whole data of dictinary

In [7]:
import json
x='{"sname":"Manas","age":"20","city":"Pune"}'
y=json.loads(x)
print(y)

{'sname': 'Manas', 'age': '20', 'city': 'Pune'}

## printing particular data

In [11]:
import json
x='{"sname":"Manas","age":"20","city":"Pune"}'
y=json.loads(x)
print("Age :",y["age"])
print("Name :",y["sname"])
print("City :",y["city"])

Age : 20
Name : Manas
City : Pune

## Convert fro python object to Json Object

In [14]:
import json
x={"sname":"Manas","age":"20","city":"Pune"} ## '' dila tar to jSON data hot hota mhanun single quotes nahi deycha
y=json.dumps(x)
print(y)

{"sname": "Manas", "age": "20", "city": "Pune"}

### writing data into jSon File

In [15]:
import json
student={
    "Name ": "Manas",
    "Roll No ":"452",
    "Grade ":"A",
    "Age":"20",
    "Subject":["JAVA","PHP","PYTHON"]
}
with open("data.json","w") as write_file:
    json.dump(student,write_file)

### Reading data from jSON file

In [17]:
import json
with open("data.json") as f:
    dt=json.load(f)
print(dt)

{'Name ': 'Manas', 'Roll No ': '452', 'Grade ': 'A', 'Age': '20', 'Subject': ['JAVA', 'PHP', 'PYTHON']}

In [24]:
## Assignment Code

In [20]:
import json
Employee={"empid":"101","ename":"Nikita","Deptname":"Accounts"}
with open("data1.json","w") as wfile:
    json.dump(Employee,wfile)
f=open("data1.json","r")
for i in f:
    print(i)

{"empid": "101", "ename": "Nikita", "Deptname": "Accounts"}

In [21]:
import json
employee = {"empid":101, "ename":"Nikita", "Deptname":"Accounts"}
with open("empjson.json","w") as write_file:
    json.dump(employee,write_file)
with open("empjson.json") as f:
    dt =json.load(f)
    print(dt)

{'empid': 101, 'ename': 'Nikita', 'Deptname': 'Accounts'}

In [22]:
# Stud={“sno”:102,”sname”:”Mita”,”language”:[“C++”,”Python”]}
# Initialize the json object and convert to python, then display
import json
Employee = '{"empid":101, "ename":"Nikita", "Deptname":"Accounts"}'
y = json.loads(Employee)
print(y)
print(y["ename"])

{'empid': 101, 'ename': 'Nikita', 'Deptname': 'Accounts'}
Nikita

In [23]:
import json
emp={
"employee": [
      {
         "id": "01",
         "name": "Amit",
         "department": "Sales"
      },
      {
         "id": "04",
         "name": "sunil",
         "depatment": "HR"
      }
   ]
}
y=json.dumps(emp)
print(y)

{"employee": [{"id": "01", "name": "Amit", "department": "Sales"}, {"id": "04", "name": "sunil", "depatment": "HR"}]}

### Python data aggregation

In [27]:
import pandas as pd
data=pd.read_csv("call.csv")
print("Longest calll : ",data["Duration"].max())
print("Total Rows in dataset :",data["ToNumber"].count())
print("Toatl seconds on call : ",data["Duration"].sum())

Longest calll :  20
Total Rows in dataset : 14
Toatl seconds on call :  144