In [24]:
evenum=[2,4,6,8,10]
print(evenum)

[2, 4, 6, 8, 10]

In [25]:
print(evenum[2])

6

## even numbers in for loop

In [26]:
evenum=[2,4,6,8,10]
for i in evenum:
    print(i,end=" ")

2 4 6 8 10

## defining user defined function
## no parameters

In [27]:
def hi():
    print("Valar Moghulis")
hi()
print("Valar Dohaeris")

Valar Moghulis
Valar Dohaeris

In [28]:
def prn():
    a=1
    while a <10:
        print(a, end =' ')
        a+=1
prn()

1 2 3 4 5 6 7 8 9

## parameterised function

In [29]:
def sum(a,b):
    print("Sum is : "+str(int(a)+int(b)))
sum(10,2)

Sum is : 12

## default

In [30]:
def city(c="Pune"):
    print(c)
city("Mumbai")
city()

Mumbai
Pune

## array

In [31]:
def fruit(fruits):
    for i in fruits:
        print(fruits)
fr=["apple","orange","mango"]
fruit(fr)

['apple', 'orange', 'mango']
['apple', 'orange', 'mango']
['apple', 'orange', 'mango']

## 1 . print first n even no.s

In [32]:
def evenNum(numb):
    num=1
    i=1
    while i <= numb :
        if(num%2 == 0 ):
            print(num)
            i+=1
        num+=1

evenNum(10)

2
4
6
8
10
12
14
16
18
20

In [33]:
#other logic
def even_num(a):
    for i in range(2,a*2,2):
        print(i)
even_num(10)

2
4
6
8
10
12
14
16
18

In [34]:
#user ip
#other logic
def even_num(a):
    for i in range(2,a*2,2):
        print(i)
n=int(input("n?"))
even_num(n)

n?8
2
4
6
8
10
12
14

In [3]:
#arbitct
def ct(*city):
    for c in city:
        print(c)
ct("Mumbai","Pune")
print("--------")
ct("Banglore","Delhi","Chennai")

Mumbai
Pune
--------
Banglore
Delhi
Chennai