## (accno,cname,acctype,balance)
## Constraints :primary key, acctype(savings/current/recurring)



1. Add a column minbal in the table.
2. Insert 3,4 records.
3. Display all the records.
4. Display details of all the saving's accounts.
5. Increase the balance of all the accounts by 4%.
6. Delete all the records where balance is less than minbal.

In [10]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="Accounts"
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE customers2(accno int primary key,cname varchar(20),actype set('current','saving','recurring'),balance int)")

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000029FDE85FAF0>

In [2]:
## 1

In [13]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="Accounts"
)
mycursor=mydb.cursor()
mycursor.execute("ALTER TABLE customers2 ADD COLUMN minbal int")

ProgrammingError: 1060 (42S21): Duplicate column name 'minbal'

In [18]:
## insert

In [16]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="Accounts"
)
mycursor=mydb.cursor()
sql="INSERT INTO customers2(accno,cname,actype,balance,minbal) VALUES(1,'Ananya Pandey','current',10000,2000)"
mycursor.execute(sql)
mydb.commit() ##once committed can not rollback

In [17]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="Accounts"
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("select * from customers2")
res=mycursor.fetchall()
for x in res:
    print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000029FDE873D30>
(1, 'Ananya Pandey', {'current'}, 10000, 2000)
(2, 'Jia Lissa', {'saving'}, 20000, 4000)
(3, 'Kenzi Revs', {'recurring'}, 50000, 4000)
(4, 'Monica Belluci', {'saving'}, 30000, 4000)
(5, 'Harvey Specter', {'saving'}, 50000, 8000)
(6, 'Mike Ross', {'current'}, 60000, 8000)

In [19]:
## select only savings

In [21]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="Accounts"
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("select * from customers2 where actype='saving'")
res=mycursor.fetchall()
for x in res:
    print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000029FDE873760>
(2, 'Jia Lissa', {'saving'}, 20000, 4000)
(4, 'Monica Belluci', {'saving'}, 30000, 4000)
(5, 'Harvey Specter', {'saving'}, 50000, 8000)

In [27]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="Accounts"
)
mycursor=mydb.cursor()
mycursor.execute("update customers2 set balance=balance+balance*0.04")

In [26]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="Accounts"
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("select * from customers2 where balance=(select MIN(balance) from customers2);")
res=mycursor.fetchall()
for x in res:
    print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000029FDE8732E0>
(1, 'Ananya Pandey', {'current'}, 50000, 2000)

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="Accounts"
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("delete from customers2 where balance<minbal;")
res=mycursor.fetchall()
for x in res:
    print(x)