In [3]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="")
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000140380A9E80>

In [4]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="")
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE vsk")

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000140380E3E80>

## to see list all databases

In [5]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="")
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000014037E52220>
('information_schema',)
('bms',)
('emp',)
('mysql',)
('performance_schema',)
('sys',)
('vsk',)

## creating table

In [6]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="vsk"
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE customers(cname varchar(20),city varchar(20))")

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000140380A9730>

In [7]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="bms"
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("show tables")
for x in mycursor:
    print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000140380A9DC0>
('bank',)
('login',)
('signup',)
('signup2',)
('signup3',)

## alter table to add primary key

In [8]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="vsk"
)
mycursor=mydb.cursor()
mycursor.execute("ALTER TABLE customers ADD COLUMN cid int PRIMARY KEY")

In [14]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="vsk"
)
mycursor=mydb.cursor()
sql="INSERT INTO customers(cname,city,cid) VALUES('Sunny','SF',3)"
mycursor.execute(sql)
mydb.commit() ##once committed can not rollback

In [15]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="vsk"
)
mycursor=mydb.cursor()
sql="INSERT INTO customers(cname,city,cid) VALUES('Sherlyn Chopra','Mumbai',4)"
mycursor.execute(sql)
mydb.commit() ##once committed can not rollback

In [16]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="vsk"
)
mycursor=mydb.cursor()
sql="INSERT INTO customers(cname,city,cid) VALUES('Anveshi Jain','Delhi',5)"
mycursor.execute(sql)
mydb.commit() ##once committed can not rollback

In [20]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="vsk"
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("select * from customers")
res=mycursor.fetchone()
print(res)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000140380E3520>
('Lana', 'LA', 1)

In [23]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="vsk"
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("select * from customers")
res=mycursor.fetchall()
for x in res:
    print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000140380A9790>
('Lana', 'LA', 1)
('Mia', 'SF', 2)
('Sunny', 'SF', 3)
('Riley', 'Mumbai', 4)
('Kendra', 'Delhi', 5)