In [3]:
import pandas as pd
rf=pd.read_csv("emp.csv")
f=open("emp.csv","r")
for i in f:
    print(i)

eno, ename, desig, salary

101, Manas Ohara, Data Scientist, 60000

102, Kashmira Shah, Developer, 90000

103, Lana Rhodes, Model, 100000

## reading data frame

In [4]:
import pandas as pd
stud ={
    "Name":["Manas","Kashmira","Chetan"],
    "Class":["TY","FY","SY"]
}
r=pd.DataFrame(stud)
print(r)

       Name Class
0     Manas    TY
1  Kashmira    FY
2    Chetan    SY