In [9]:
## how to interact with excel sheets in python
import pandas as pd
data=pd.read_excel("emp.xlsx")
print(data)

   eno   ename       desig  salary
0  101    Neha     manager   35000
1  102   Varun       clerk   19000
2  103  Pankaj     manager   60000
3  104   Mohan  accountant   20000
4  105   Rekha       clerk   15000
5  106   Seema          hr   40000
6  107   Teena         CEO   80000
7  108   Anita     manager   45000

In [10]:
import pandas as pd
data=pd.read_excel("emp.xlsx")
print(data.loc[1])

eno         102
ename     Varun
desig     clerk
salary    19000
Name: 1, dtype: object

In [11]:
import pandas as pd
data=pd.read_excel("emp.xlsx")
print(data.loc[1:3])

   eno   ename       desig  salary
1  102   Varun       clerk   19000
2  103  Pankaj     manager   60000
3  104   Mohan  accountant   20000

In [12]:
import pandas as pd
data=pd.read_excel("emp.xlsx")
print(data.loc[[1,2,3],['ename','salary']])

    ename  salary
1   Varun   19000
2  Pankaj   60000
3   Mohan   20000

In [16]:
import pandas as pd
with pd.ExcelFile("emp.xlsx")as xls:
    data1=pd.read_excel(xls,"Sheet1")
    print(data1)
    data2=pd.read_excel(xls,"Sheet2")
    print(data2)
print("----------result sheet-----------------")
print(data1[0:5])
print(data2[0:5])

   eno   ename       desig  salary
0  101    Neha     manager   35000
1  102   Varun       clerk   19000
2  103  Pankaj     manager   60000
3  104   Mohan  accountant   20000
4  105   Rekha       clerk   15000
5  106   Seema          hr   40000
6  107   Teena         CEO   80000
7  108   Anita     manager   45000
   eno   ename  leaves
0  101    Neha       2
1  102   Varun       4
2  103  Pankaj       3
3  104   Mohan       5
4  105   Rekha       1
5  106   Seema       2
6  107   Teena       4
7  108   Anita       5
----------result sheet-----------------
   eno   ename       desig  salary
0  101    Neha     manager   35000
1  102   Varun       clerk   19000
2  103  Pankaj     manager   60000
3  104   Mohan  accountant   20000
4  105   Rekha       clerk   15000
   eno   ename  leaves
0  101    Neha       2
1  102   Varun       4
2  103  Pankaj       3
3  104   Mohan       5
4  105   Rekha       1

## date and time

In [18]:
import datetime
dt=datetime.datetime.now()
print(dt)

2021-03-22 14:57:08.421081

In [20]:
## only date
import datetime
dt=datetime.date.today()
print(dt)

2021-03-22

In [21]:
## only date according to us
import datetime
dt=datetime.date(2002,3,23)
print(dt)

2002-03-23

In [25]:
## dd,mm,yy in one
from datetime import date
today=date.today()
print("Year:",today.year)
print("Month:",today.month)
print("Date:",today.day)

Year: 2021
Month: 3
Date: 22