Find the highest price of 22k gold.

Find the lowest price of 24k gold

Find the mean price of silver.

Find total number of records.

In [14]:
import pandas as pd
df=pd.read_csv('goldsilver.csv')
x=df["Gold22k"].max()
print("Max in G22: ",x)

Max in G22:  44280

In [11]:
import pandas as pd
df=pd.read_csv('goldsilver.csv')
y=df["Gold24k"].min()
print("Min in G24",y)

Min in G24 44000

In [12]:
import pandas as pd
df=pd.read_csv('goldsilver.csv')
x=df["silver"].mean()
print("Silver mean",x)

Silver mean 466.3

In [13]:
import pandas as pd
df=pd.read_csv('goldsilver.csv')
x=df["Gold22k"].count()
print("Rec. count :",x)

Rec. count : 10

Display all rows which have complete data(skip rows with blank values)

Display all the rows, replace missing values by mean.

In [15]:
import pandas as pd
f=pd.read_csv('metalrate.csv')
f1=f.dropna()
print(f1)

            Date  Gold22k  Gold24k  silver
0  23 March 2021    43000  44000.0     453
1  22 March 2021    43800  44800.0     467
2  21 March 2021    43920  44920.0     479
3  20 March 2021    43930  44930.0     450
5  18 March 2021    44280  45280.0     486
6  17 March 2021    43960  44960.0     489
8  15 March 2021    43840  44840.0     468
9  14 March 2021    43870  44870.0     451

In [18]:
import pandas as pd
f=pd.read_csv('metalrate.csv')
x=f["Gold24k"].mean()
print(x)
f["Gold24k"].fillna(x,inplace=True)
print(f)

44825.0
            Date  Gold22k  Gold24k  silver
0  23 March 2021    43000  44000.0     453
1  22 March 2021    43800  44800.0     467
2  21 March 2021    43920  44920.0     479
3  20 March 2021    43930  44930.0     450
4  19 March 2021    44070  44825.0     460
5  18 March 2021    44280  45280.0     486
6  17 March 2021    43960  44960.0     489
7  16 March 2021    43840  44825.0     460
8  15 March 2021    43840  44840.0     468
9  14 March 2021    43870  44870.0     451

In [21]:
import nltk
#nltk.download('punkt')
wordorder = "Alexa play party music"
nltk_tokens = nltk.word_tokenize(wordorder)
print(nltk_tokens)

['Alexa', 'play', 'party', 'music']

In [23]:
import nltk
sentence_data = "Sun rises in the east. Sun sets in the west."
nltk_tokens = nltk.sent_tokenize(sentence_data)
print (nltk_tokens)

['Sun rises in the east.', 'Sun sets in the west.']

## Porter Steming Algorithm for stemming

In [25]:
import nltk
from nltk.stem.porter import PorterStemmer
porter_stemmer = PorterStemmer()
word_data = "I started learning Python on my own"
# First Word tokenization
nltk_tokens = nltk.word_tokenize(word_data)
#Next find the roots of the word
for w in nltk_tokens:
       print ("Actual: %s  Stem: %s"  % (w,porter_stemmer.stem(w)))

Actual: I  Stem: I
Actual: started  Stem: start
Actual: learning  Stem: learn
Actual: Python  Stem: python
Actual: on  Stem: on
Actual: my  Stem: my
Actual: own  Stem: own