In [5]:
import pymongo
myclient=pymongo.MongoClient("mongodb+srv://manas:manas@cluster0.r6uwh.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
mydb=myclient["vsk"]
mycol=mydb["product"]
mydict={"pname":"TV","price":50000}
x=mycol.insert_one(mydict)
print(x.inserted_id)

60507b745441d1db13283b74

In [2]:
## inserting in mongodb in python
import pymongo
myclient=pymongo.MongoClient("mongodb+srv://manas:manas@cluster0.r6uwh.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
mydb=myclient["MIT"]
print("database created")
mycol=mydb["student"]
mydict={"sname":"Sheldon","Div":"A","elective":"mongoDB"}
x=mycol.insert_one(mydict)
print("Record Inserted")
print(x.inserted_id)

database created
Record Inserted
6051c65fcd1c86ed38f4aa37

In [10]:
## inserting many records in mongodb in python
import pymongo
myclient=pymongo.MongoClient("mongodb+srv://manas:manas@cluster0.r6uwh.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
mydb=myclient["MIT"]
print("database created")
mycol=mydb["student"]
mylist=[{"sname":"Howard","Div":"B","elective":"NASA"},{"sname":"Raj","Div":"B","elective":"Star"}]
x=mycol.insert_many(mylist)
print("Record Inserted")

database created
Record Inserted

In [11]:
## displaying all records
import pymongo
myclient=pymongo.MongoClient("mongodb+srv://manas:manas@cluster0.r6uwh.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
mydb=myclient["MIT"]
print("database created")
mycol=mydb["student"]
for x in  mycol.find():
    print(x)

database created
{'_id': ObjectId('6051c65ecd1c86ed38f4aa35'), 'sname': 'Sheldon', 'Div': 'A', 'elective': 'mongoDB'}
{'_id': ObjectId('6051c77ccd1c86ed38f4aa3a'), 'sname': 'Penny', 'Div': 'A', 'elective': 'MYSQL'}
{'_id': ObjectId('6051ca04cd1c86ed38f4aa44'), 'sname': 'Howard', 'Div': 'B', 'elective': 'NASA'}
{'_id': ObjectId('6051ca04cd1c86ed38f4aa45'), 'sname': 'Raj', 'Div': 'B', 'elective': 'Star'}

In [6]:
##showing only one record
import pymongo
myclient=pymongo.MongoClient("mongodb+srv://manas:manas@cluster0.r6uwh.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
mydb=myclient["MIT"]
print("database created")
mycol=mydb["student"]
y=mycol.find_one()
print(y)

database created
{'_id': ObjectId('6051c65ecd1c86ed38f4aa35'), 'sname': 'Sheldon', 'Div': 'A', 'elective': 'mongoDB'}

In [8]:
## query in MONGODB
import pymongo
myclient=pymongo.MongoClient("mongodb+srv://manas:manas@cluster0.r6uwh.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
mydb=myclient["MIT"]
print("database created")
mycol=mydb["student"]
myquery={"sname":"Penny"}
mydoc=mycol.find(myquery)
for x in mydoc:
    print(x)

database created
{'_id': ObjectId('6051c77ccd1c86ed38f4aa3a'), 'sname': 'Penny', 'Div': 'A', 'elective': 'MYSQL'}

In [12]:
## sorting
import pymongo
myclient=pymongo.MongoClient("mongodb+srv://manas:manas@cluster0.r6uwh.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
mydb=myclient["MIT"]
print("database created")
mycol=mydb["student"]
mydoc=mycol.find().sort("sname")
for x in mydoc:
    print(x)

database created
{'_id': ObjectId('6051ca04cd1c86ed38f4aa44'), 'sname': 'Howard', 'Div': 'B', 'elective': 'NASA'}
{'_id': ObjectId('6051c77ccd1c86ed38f4aa3a'), 'sname': 'Penny', 'Div': 'A', 'elective': 'MYSQL'}
{'_id': ObjectId('6051ca04cd1c86ed38f4aa45'), 'sname': 'Raj', 'Div': 'B', 'elective': 'Star'}
{'_id': ObjectId('6051c65ecd1c86ed38f4aa35'), 'sname': 'Sheldon', 'Div': 'A', 'elective': 'mongoDB'}

In [13]:
## sort ascending
import pymongo
myclient=pymongo.MongoClient("mongodb+srv://manas:manas@cluster0.r6uwh.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
mydb=myclient["MIT"]
print("database created")
mycol=mydb["student"]
mydoc=mycol.find().sort("elective")
for x in mydoc:
    print(x)

database created
{'_id': ObjectId('6051c77ccd1c86ed38f4aa3a'), 'sname': 'Penny', 'Div': 'A', 'elective': 'MYSQL'}
{'_id': ObjectId('6051ca04cd1c86ed38f4aa44'), 'sname': 'Howard', 'Div': 'B', 'elective': 'NASA'}
{'_id': ObjectId('6051ca04cd1c86ed38f4aa45'), 'sname': 'Raj', 'Div': 'B', 'elective': 'Star'}
{'_id': ObjectId('6051c65ecd1c86ed38f4aa35'), 'sname': 'Sheldon', 'Div': 'A', 'elective': 'mongoDB'}

In [14]:
## sort descending
import pymongo
myclient=pymongo.MongoClient("mongodb+srv://manas:manas@cluster0.r6uwh.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
mydb=myclient["MIT"]
print("database created")
mycol=mydb["student"]
mydoc=mycol.find().sort("elective",-1)
for x in mydoc:
    print(x)

database created
{'_id': ObjectId('6051c65ecd1c86ed38f4aa35'), 'sname': 'Sheldon', 'Div': 'A', 'elective': 'mongoDB'}
{'_id': ObjectId('6051ca04cd1c86ed38f4aa45'), 'sname': 'Raj', 'Div': 'B', 'elective': 'Star'}
{'_id': ObjectId('6051ca04cd1c86ed38f4aa44'), 'sname': 'Howard', 'Div': 'B', 'elective': 'NASA'}
{'_id': ObjectId('6051c77ccd1c86ed38f4aa3a'), 'sname': 'Penny', 'Div': 'A', 'elective': 'MYSQL'}

In [16]:
## deleting 
import pymongo
myclient=pymongo.MongoClient("mongodb+srv://manas:manas@cluster0.r6uwh.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
mydb=myclient["MIT"]
print("database created")
mycol=mydb["student"]
myquery={"sname":"Penny"}
mycol.delete_one(myquery)

database created

In [17]:
##limit
import pymongo
myclient=pymongo.MongoClient("mongodb+srv://manas:manas@cluster0.r6uwh.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
mydb=myclient["MIT"]
print("database created")
mycol=mydb["student"]
mydoc=mycol.find().limit(3)
for x in mydoc:
    print(x)

database created
{'_id': ObjectId('6051c65ecd1c86ed38f4aa35'), 'sname': 'Sheldon', 'Div': 'A', 'elective': 'mongoDB'}
{'_id': ObjectId('6051ca04cd1c86ed38f4aa44'), 'sname': 'Howard', 'Div': 'B', 'elective': 'NASA'}
{'_id': ObjectId('6051ca04cd1c86ed38f4aa45'), 'sname': 'Raj', 'Div': 'B', 'elective': 'Star'}

In [20]:
## update
import pymongo
myclient=pymongo.MongoClient("mongodb+srv://manas:manas@cluster0.r6uwh.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
mydb=myclient["MIT"]
print("database created")
mycol=mydb["student"]
myquery={"sname":"Sheldon"}
newvalues={"$set":{"Div":"B"}}
mycol.update_one(myquery,newvalues)
for x in mycol.find():
    print(x)

database created
{'_id': ObjectId('6051c65ecd1c86ed38f4aa35'), 'sname': 'Sheldon', 'Div': 'B', 'elective': 'mongoDB'}
{'_id': ObjectId('6051ca04cd1c86ed38f4aa44'), 'sname': 'Howard', 'Div': 'B', 'elective': 'NASA'}
{'_id': ObjectId('6051ca04cd1c86ed38f4aa45'), 'sname': 'Raj', 'Div': 'B', 'elective': 'Star'}

In [21]:
## insert one
import pymongo
myclient=pymongo.MongoClient("mongodb+srv://manas:manas@cluster0.r6uwh.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
mydb=myclient["MIT"]
print("database created")
mycol=mydb["stud"]
mydict={"sname":"Mia","Div":"C","Age":"30"}
mycol.insert_one(mydict)

database created

In [22]:
## dropping collection
import pymongo
myclient=pymongo.MongoClient("mongodb+srv://manas:manas@cluster0.r6uwh.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
mydb=myclient["MIT"]
print("database created")
mycol=mydb["stud"]
mycol.drop()
print("Collection deleted")

database created
Collection deleted